@model IEnumerable<TransportExpenditureTracker.Models.Party>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
  
        <button class="btn btn-primary" onclick="openAddPartyModal()">Add Party</button>
  
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VatNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VatNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PartyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PartyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PartyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
